<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Wishing App</title>
</head>
<body>
    <h1>Welcome! Sign in to make a wish!</h1>

            {% if messages %}
			<ul>
			{% for message in messages %}
			<li>{{message}}</li>
			{% endfor %}
			</ul>
			{% endif %}
			
			<div id="forms">
				<div class="form">
					<h4>Login</h4>
					<form action="/login" method="POST">
						{% csrf_token %}
						<p>Email</p>
						<input type="text" name="email" />
						<p>Password</p>
						<input type="text" name="password" />
						<input class="submit" type="submit" value="Login" />
					</form>
				</div>

				<div class="form">
					<h4>Register</h4>
					<form action="/register" method="POST">
						{% csrf_token %}
						<p>First Name</p>
						<input type="text" name="f_name" />
						<p>Last Name</p>
						<input type="text" name="l_name" />
						<p>Email</p>
						<input type="text" name="email" />
						<p>Password</p>
						<input type="text" name="password" />
						<p>Confirm Password</p>
						<input type="text" name="conf_password" />
						<input class="submit" type="submit" value="Register" />
					</form>
</body>
</html>