<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Wishing App</title>
</head>
<body>
    <h2>Hello (   )! Make a wish! </h2>    <a href="">Logout</a>
    <p></p>
    <h3>I wish for: </h3>
    <input type="text" name="" placeholder="Go">
    <p></p>
    <h3>Description: </h3>
    <input type="text" name="" >
    <p></p>
    <input class="submit" type="submit" value="Cancel" />
    <input class="submit" type="submit" value="Submit" />
</body>
</html>