<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Edit Show</title>
</head>

<body>
	<h1>Edit Show</h1>
	<form action="update" method="post">
		{% csrf_token %}
		<h3>Title</h3>

		<input type="text" name="title" id="title" value="{{ show.title}}" />

		<h3>Network</h3>

		<input type="text" name="network" id="network" value="{{ show.network}}" />

		<h3>Release Date</h3>

		<input type="date" name="release_date" id="release_date" value="{{ show.release_date|date:'Y-m-d'}}" />

		<h3>Description</h3>

		<textarea name="description" id="description" cols="30" rows="10">
{{ show.description}}</textarea>

		<button>Submit</button>
	</form>
</body>

</html>