<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>Welcome, {{request.session.greeting}}</h1>

		<a href="/logout" role="button">Logout</a>

		<h3>Add Book</h3>

		<form action="/create" method="post">
			{% csrf_token %} {% for message in messages %}
			<p>{{ message }}</p>
			{% endfor %}
			<h3>Title</h3>

			<input type="text" name="title" />

			<h3>Description</h3>

			<input type="text" name="description" />

			<button type="submit">Submit</button>
		</form>

		<h3>Favorited Books</h3>
		{% for book in all_books %} {% if this_user in book.favorited_by.all %}

		<h5><a href="/books/{{book.id}}">{{book.title}}</a></h5>
		<p>(added by {{book.creator.first_name}} {{book.creator.last_name}})</p>

		{% endif %} {% endfor %}
		<h3>Other Books</h3>
		{% for book in all_books %} {% if this_user not in book.favorited_by.all %}

		<h5><a href="/books/{{book.id}}">{{book.title}}</a></h5>
		<p>(added by {{book.creator.first_name}} {{book.creator.last_name}})</p>

		{% endif %} {% endfor %}
	</body>
</html>
