<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Delete {{ course.name }}?</title>
	</head>
	<body>
		<p>Are you sure you want to delete the following course?</p>
		<table>
			<tbody>
				<tr>
					<td><b>Name</b></td>
					<td>{{ course.name }}</td>
				</tr>
				<tr>
					<td><b>Description</b></td>
					<td>{{ course.description.content }}</td>
				</tr>
			</tbody>
		</table>
		<form action="{{course.id}}/delete" method="post">
			{% csrf_token %}
			<button type="submit">Yes, I want to delete this!</button>
			<a href="/" role="button">No, go back</a>
		</form>
	</body>
</html>
