<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Courses</title>
	</head>
	<body>
		<h3>Add a New Course</h3>
		<form action="create" method="post">
			{% csrf_token %}

			<h4>Name</h4>
			{% if messages %}
			<ul>
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			<input type="text" name="course_name" />

			<h4>Description</h4>
			<input type="text" name="desc" />

			<button type="submit">Submit</button>
		</form>

		<h3>All Courses</h3>
		<table>
			<thead>
				<th>Course Name</th>
				<th>Description</th>
				<th>Date Added</th>
				<th>Actions</th>
			</thead>
			<tbody>
				{% for course in courses %}
				<tr>
					<td>{{ course.name }}</td>
					<td>{{ course.description.content }}</td>
					<td>{{ course.created_at|date:'M d, Y P' }}</td>
					<td>
						<a href="/{{course.id}}/delete">Remove</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
</html>
